body {
background-image: url("../images/C.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cover {
  height: auto;
  width: 60%;
}

.lamb {
  width: 500px;
  height: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 70%;
}

.lamb2 {
  width: 700px;
  height: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 70%;
}

.lamb3 {
  width: 300px;
  height: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 70%;
}

.page-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.image-wrapper {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  overflow: hidden;
}


.image-wrapper2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

