


.lamb {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
margin: 0 0 20px;
align-self: center;
  padding: 0 10px;
  opacity: 60%;
}

.lamb2 {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
margin: 0 0 20px;
align-self: center;
  padding: 0 10px;
  opacity: 60%;
}
.lamb3 {
  width: 100%;
  height: auto;     
  display: block;
  margin-bottom: 20px;
  opacity: 60%;
}


.lamb:hover,
.lamb2:hover,
.lamb3:hover {
  opacity: 80%;
  transform: scale(1.05);
}

.lamb-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
  max-width: 800px;

  position: relative;
}

.lamb-wrapper img {
  flex-shrink: 0; 
    align-items: center; 
}

.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.image-wrapper img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90vw;
  max-width: 1000px;
  height: auto;
}

.image-wrapper2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  align-items: flex-start; 
  gap: 20px; 
}

@media (max-width: 1024px) {
  .image-wrapper img {
    object-position: center;
  }

  
  .lamb, .lamb2, .lamb3 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 0 10px;
  }
}


/* Tablets */
@media (max-width: 768px) {

  .lamb,
  .lamb2,
  .lamb3 {
    max-width: 100%;
  }

    .image-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .lamb, .lamb2, .lamb3 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 20px;
    padding: 0 10px;
  }
}

/* Phones */
@media (max-width: 480px) {


  .lamb,
  .lamb2,
  .lamb3 {
    max-width: 100%;
  }

    .image-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .lamb-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .lamb, .lamb2, .lamb3 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 15px;
    padding: 0 5px;
  }
}

@media (max-width: 768px) {

  #layer {
    content: url("../images/mobile-layer.png");
  }
}
