body {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

.cover {
  height: auto;
  width: 60%;
}


.lamb {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  padding: 0 10px;
  opacity: 40%;
}

.lamb2 {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  padding: 0 10px;
  opacity: 40%;
}

.lamb3 {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  padding: 0 10px;
  opacity: 40%;
}

/* Hover */
.lamb:hover,
.lamb2:hover,
.lamb3:hover {
  opacity: 70%;
  transform: scale(1.05);
}


.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}


.image-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}


.image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 1000px;
  height: auto;
}

.image-wrapper2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Tablets */
@media (max-width: 768px) {
  .image-wrapper img {
    width: 95vw;
  }

  .lamb, .lamb2, .lamb3 {
    max-width: 100%;
  }
}

/* Phones */
@media (max-width: 480px) {
  .image-wrapper img {
    width: 94vw;
  }

  .lamb, .lamb2, .lamb3 {
    max-width: 100%;
  }
}