@font-face {
  font-family: "normal";
  src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "headline";
  src: url("../font/headline.ttf") format("truetype");
}

@font-face {
  font-family: "biden";
  src: url("../font/Courgette-Regular.ttf") format("truetype");
}




.main {
    margin: 0 auto;
    color: rgb(68, 113, 114);
}

.section {
    max-width: 50%;
    margin: 0 auto;
    
    padding-bottom: 100px;
}

.article {
    max-width: 100%; 
    background-color: white;
    
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.text-overlay h1 {
  line-height: 1.5;
  color: palevioletred;
  margin: 0;
}

.image-wrapper h1:first-of-type {
  font-size: 14rem;
  white-space: nowrap;
  text-align: right;
}

.image-wrapper h1:last-of-type {
  font-size: 16rem;
  white-space: nowrap;
  text-align: left;
}

.image-wrapper h1:nth-of-type(2) {
  font-size: 16rem;
  white-space: nowrap;
  text-align: right;
}



h1 {
    font-family: "biden", serif; 
    font-style: normal; 
    font-size: 1rem;
    text-align: center;
     color: palevioletred;
}

h2 {
    font-family: "biden";  
    font-size: 10rem;
    text-align: center;
    padding-top: 60px;
     margin-bottom: 10px;
      color: palevioletred;
}

h3 {
    font-family: "normal";
    font-style: normal;
    font-size: 2.5rem;
     text-align: center;
    margin-top: 10px;
     margin-bottom: 30px;
     color: palevioletred;
     font-weight: bold;
}

.measure {     
    font-size: 1rem;
}

.indent {  
    font-family: "normal";
    font-style: normal;
    font-size: 2rem; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.italic {    
    font-family: "normal";
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    margin-left: 60px;
    margin-right: 60px;
}

.italic2 {    
    font-family: "normal";
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 30px;
}

.quote {    
    font-family: "normal";      
    text-align: center;
    font-size: 2rem;
}


.footnote-ref {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.footnote-icon {
  width: 20px; /* size of your icon */
  height: 20px;
}

.footnote {
  display: none;
  font-size: 0.85em;
  color: palevioletred;
  margin-left: 4px;
}

.footnote a {
  color: palevioletred;
  text-decoration: underline;
}