@font-face {
  font-family: "normal";
  src: url("../font/BBB-OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "headline";
  src: url("../font/headline.ttf") format("truetype");
}

@font-face {
  font-family: "biden";
  src: url("../font/Cambo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "cursive";
  src: url("../font/Edw.ttf") format("truetype");
}


.text-wrapper { 
  top: 70px; left: 50%; 
  transform: translateX(-50%) scale(1); 
  z-index: 2000; /* higher than nav's 1000 */ 
  position: relative; 
}

h2 {
    font-family: "cursive";  
    font-size: 11rem;
    text-align: center;
    padding-top: 0px;
     margin-bottom: 10px;
    color: rgb(205, 156, 180);
 
  
}

.indent {  
    font-family: "normal";
    font-style: bold;
    font-size: 2rem; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.italic {    
    font-family: "normal";
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.italic2 {    
    font-family: "normal";
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;   
    margin-top: 10px;
    
}

.quote {    
    font-family: "normal";      
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

a {
  color: rgb(205, 156, 180);
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}