html {
line-height: 1.5;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: -1;
}



@media (max-width: 480px) {
  #home::before {
    background-image: url("../images/wowm.png"); 
  }
}


html, body {
  overflow-x: hidden;
  overflow-y: auto;
      cursor: url("../images/knife.png") 0 0, auto;
}
.page-wrapper {
   width: 100%;
}

.main {
  margin: 0 auto;
  color: rgb(149, 149, 149);
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;

  background: linear-gradient(
    to bottom,
    rgba(252, 247, 246, 0) 0px,
    rgb(252, 250, 250) 20px
  );
}


.section {
    max-width: 50%;
    margin: 0 auto;
    
   
}


* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,

p {
font-family: inherit;
font-weight: inherit;
}


.nav-inner {
  max-width: 60%;     
  margin: 0 auto;  
}

#top-index {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  background: linear-gradient(
    to bottom,
    rgb(205, 156, 180) 75%,
    rgba(205, 156, 180, 0) 100%
  );

 
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

#top-index ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;          
  column-gap: 20px;         
  row-gap: 5px;           
  list-style: none;
  margin: 0;
  padding: 10px 0 15px;
}

#top-index ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-family: "BBB";
  font-style: normal;
  font-weight: normal;
  padding: 5px 10px;
  white-space: nowrap; 
}

#top-index ul li a:hover {
  color: rgb(205, 156, 180);
}

@media (max-width: 768px) {
  .nav-inner {
    max-width: 100%;
    padding: 0 15px; 
  }
}

@media (max-width: 768px) {
  #top-index ul li a {
    padding: 2px 6px;       
    line-height: 1.2;      
  }
}


html {
  scroll-behavior: smooth;
}




.footnote-ref {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.footnote-icon {
  width: 20px; 
  height: 20px;
}

.footnote {
  display: none;

  margin-top: 10px;
  padding: 10px;

  background: rgb(189, 189, 189);
  color: white;

  font-size: 2rem;


  display: block;
  width: 100%;
}

.footnote a {

  text-decoration: underline;
      font-family: "BBB";
    font-style: normal;
    font-weight: normal;
    font-size: 2rem; 
            color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.footnote {
  display: none;
}

.footnote.show {
  display: block;
}